
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
build

# mkdocs generated live docs
site

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~
*.bak
scripts/aws_sdk_model_override/*
/gomock_reflect*
config/crd/bases/gateway.k8s.aws_listenerruleconfigurations.yaml
config/crd/bases/gateway.k8s.aws_loadbalancerconfigurations.yaml
config/crd/bases/gateway.k8s.aws_targetgroupconfigurations.yaml